html, body, #terminal {
    background: black;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.fileDialog {
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: lightgray;
    padding: 20px;
    border: 10px;
    border-color: red;
    border-width: medium;
    display: none;
    z-index: 5;
}